<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link href="css/style.css" rel="stylesheet">
</head>

<body>
    <form method="post" name="form" enctype="multipart/form-data">
        Category Id :
        <input type="text" placeholder="Categoryid" name="category_id"></br>
        Category Name :
        <input type="text" placeholder="Category name" name="category_name"></br>
        Level :
        <input type="text" placeholder="Level category" name="category_level"></br>
        Category Description :
        <input type="text" placeholder="Category description" name="category_description"></br>
        Image :
        <input type="file" name="category_image"></br>
        <button type="submit" value="Submit" id="btnSubmit">Submit</button>
    </form>
    <div class="progress">
        <div class="progress-bar" role="progressbar"></div>
    </div>
</body>

</html>